body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header {

}

#content {
    flex: 1;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
}

#canvas {
    width: 640px;
    height: 640px;
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    border: solid 1px black;
    flex: 1;
}



.square:hover {
    background-color: black;
}
