body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(78, 80, 72); 
}
#header {

}

#content {
    flex: 1;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 640px;
    text-align: center;
    background-color: rgb(65, 52, 52);
    color: white;
}

#menu > * {
    flex: 1;
}

h2 {
    font-size: 18px;
}

#canvas {
    width: 640px;
    height: 640px;
    display: flex;
    background-color: white;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    border: solid 1px black;
    flex: 1;
}



.square:hover {
    background-color: black;
}
