body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(151, 155, 141); 
}
#header {
    text-align: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container > p {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

#slider {
    width: 100%;
    margin: 0;

}

#content {
    flex: 1;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 640px;
    text-align: center;
    background-color: rgb(65, 52, 52);
    color: white;
}

#menu > * {
    flex: 1;
}

h2 {
    font-size: 18px;
}

#canvas {
    width: 640px;
    height: 640px;
    display: flex;
    background-color: white;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.square {
    border: solid 1px black;
    flex: 1;
}



.square:hover {
    background-color: black;
}

button {
    background-color:rgb(250, 204, 204);
    border-color: black;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}
img {
    height: 100%;
    width: 100%;

}

#footer {
    align-self: stretch;
    background-color: #ffebcd;
    text-align: center;
}

#credits {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

#credits > img {
    width: 25px;
    height: 25px;
}


